# 02 - Second notebook

In [1]:
import numpy as np
import fiona
import rasterio
import rasterio.features
from shapely.geometry import shape, mapping, Polygon
from shapely.geometry.multipolygon import MultiPolygon
import geopandas as gpd
import pandas as pd
from datetime import datetime
from pyproj import Transformer

In [2]:
import os

In [3]:
!pwd

/home/drugo/radar-precipitation

In [4]:
path = '/home/drugo/radar-precipitation/centroids/'

In [5]:
os.chdir(path)

In [6]:
coor_centr = []

In [7]:
centr_coor = pd.DataFrame(columns=['id', 'lat', 'lon','distance','Dlat','Dlon'])
for file in os.listdir(path):
    if file.endswith(".shp"):
        shapefile = gpd.read_file(file)
        centr_coor = centr_coor.append({
            'id': pd.to_datetime(str(shapefile.id[0])), 
            'lat': shapefile.iloc[0,1].coords[0][0], 
            'lon': shapefile.iloc[0,1].coords[0][1],
        }, ignore_index=True)

In [8]:
centr_coor.index=centr_coor.id

In [9]:
centr_coor = centr_coor.sort_index()

In [10]:
centr_coor.head()

,id,lat,lon,distance,Dlat,Dlon
id,,,,,,
2019-09-09 21:20:00,2019-09-09 21:20:00,410995.473149,137114.783579,NaN,NaN,NaN
2019-09-09 21:25:00,2019-09-09 21:25:00,416601.673745,139156.007994,NaN,NaN,NaN
2019-09-09 21:30:00,2019-09-09 21:30:00,418674.702248,139542.417680,NaN,NaN,NaN
2019-09-09 21:35:00,2019-09-09 21:35:00,420647.917478,141925.587129,NaN,NaN,NaN
2019-09-09 21:40:00,2019-09-09 21:40:00,422189.317151,139288.143505,NaN,NaN,NaN

In [11]:
for i in range(1,len(centr_coor)):
    centr_coor.distance.iloc[i] = ((centr_coor.lat.iloc[i]-centr_coor.lat.iloc[i-1])**2+(centr_coor.lon.iloc[i]-centr_coor.lon.iloc[i-1])**2)**0.5
    centr_coor.Dlat.iloc[i] = (centr_coor.lat.iloc[i]-centr_coor.lat.iloc[i-1])
    centr_coor.Dlon.iloc[i] = (centr_coor.lon.iloc[i]-centr_coor.lon.iloc[i-1])

/home/drugo/anaconda3/envs/gis/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
centr_coor.head()

,id,lat,lon,distance,Dlat,Dlon
id,,,,,,
2019-09-09 21:20:00,2019-09-09 21:20:00,410995.473149,137114.783579,NaN,NaN,NaN
2019-09-09 21:25:00,2019-09-09 21:25:00,416601.673745,139156.007994,5966.245237,5606.200596,2041.224415
2019-09-09 21:30:00,2019-09-09 21:30:00,418674.702248,139542.417680,2108.734128,2073.028504,386.409686
2019-09-09 21:35:00,2019-09-09 21:35:00,420647.917478,141925.587129,3094.038616,1973.215229,2383.169448
2019-09-09 21:40:00,2019-09-09 21:40:00,422189.317151,139288.143505,3054.835809,1541.399674,-2637.443624

In [13]:
path_polygons = '/home/drugo/radar-precipitation/polygons/'
path_output = '/home/drugo/radar-precipitation/predicted/'

In [14]:
lst = os.listdir(path_polygons)
lst.sort()

In [15]:
shp_list = []
for file in lst:
    if file.endswith(".shp"):
        shp_list.append(file)

In [16]:
os.chdir(path_polygons)
counter = 3
for i in range(3,len(shp_list)-1):
    shapefile_polygons = gpd.read_file(shp_list[i])
    shifted_shp = shapefile_polygons.set_geometry(
        shapefile_polygons.translate(
            centr_coor.Dlon[i-3:i].mean(),
            centr_coor.Dlat[i-3:i].mean()))
    shifted_shp.to_file(path_output+'/'+shp_list[i+1].replace('.shp','_shifted.shp'))
    print('il file predetto: '+shp_list[i+1])

il file predetto: 201909092140.shp
il file predetto: 201909092145.shp
il file predetto: 201909092150.shp
il file predetto: 201909092155.shp
il file predetto: 201909092200.shp
il file predetto: 201909092205.shp
il file predetto: 201909092210.shp
il file predetto: 201909092215.shp
il file predetto: 201909092220.shp
il file predetto: 201909092225.shp
il file predetto: 201909092230.shp
il file predetto: 201909092235.shp
il file predetto: 201909092240.shp
il file predetto: 201909092245.shp
il file predetto: 201909092250.shp
il file predetto: 201909092255.shp
il file predetto: 201909092300.shp
il file predetto: 201909092305.shp
il file predetto: 201909092310.shp
il file predetto: 201909092315.shp
il file predetto: 201909092320.shp
il file predetto: 201909092325.shp
il file predetto: 201909092330.shp
il file predetto: 201909092335.shp
il file predetto: 201909092340.shp
il file predetto: 201909092345.shp
il file predetto: 201909092350.shp
il file predetto: 201909092355.shp
il file predetto: 201909100000.shp
il file predetto: 201909100005.shp
il file predetto: 201909100010.shp
il file predetto: 201909100015.shp
il file predetto: 201909100020.shp
il file predetto: 201909100025.shp
il file predetto: 201909100030.shp
il file predetto: 201909100035.shp
il file predetto: 201909100040.shp
il file predetto: 201909100045.shp
il file predetto: 201909100050.shp
il file predetto: 201909100055.shp
il file predetto: 201909100100.shp
il file predetto: 201909100105.shp
il file predetto: 201909100110.shp
il file predetto: 201909100115.shp
il file predetto: 201909100120.shp
il file predetto: 201909100125.shp
il file predetto: 201909100130.shp
il file predetto: 201909100135.shp
il file predetto: 201909100140.shp
il file predetto: 201909100145.shp
il file predetto: 201909100150.shp
il file predetto: 201909100155.shp
il file predetto: 201909100200.shp
il file predetto: 201909100205.shp
il file predetto: 201909100210.shp
il file predetto: 201909100215.shp